// The Live Report / Monitor / News Theme Page / Article

.article {
  // ////// Shared singled post styles. These styles are shared by all the single post templates

  .feature-image {
    img {
      width: 100%;
    }
  }
  .entry-header {
    .publish-date {
      opacity: 0.4;
    }
  }
  .entry-content {
    padding: var(--padding);

    section {
      header {
        text-align: center;
      }
    }

    p,
    ul,
    ol {
      a {
        text-decoration: underline;
      }
    }
    ul,
    ol {
      list-style-position: outside;
      padding-left: 3rem;
      margin-bottom: $text-margin;

      li {
        margin-bottom: $line-height;
      }
    }
    ul {
      list-style-type: disc;
    }
    ol {
      list-style-type: decimal;
    }
    blockquote {
      &.pullquote {
      }
    }
    figure {
      margin-bottom: $text-margin;

      figcaption {
        font-size: 1.6rem;
        color: #666;
      }
    }
  }

  // ///////// Default single post
  &.single {
    .entry-header {
      h1 {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: $laptop) {
  .article {
    .entry-content {
      blockquote {
        &.pullquote {
          float: right;
          width: 60%;
          margin: 2rem -30% 3rem 3rem;

          p {
            font-size: 3rem;
            font-weight: bold;
            line-height: 1.2;
            letter-spacing: -0.1rem;
            position: relative;
            padding-top: 3rem;

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 5rem;
              height: 1rem;
              background: $primary;
            }
          }
        }
      }
    }
  }
  .feature-article {
    .entry-header {
      p.standfirst {
        font-size: 3rem;
      }
    }
    .entry-content {
      p {
        font-size: 2.7rem;
      }
    }
  }
}
