.article-image-right {

    article {

        .cover {
            .entry-header {
                text-align: left;
                padding: 7% 7% 10% 6%;
                
                h1 {
                    @include half-article-headline;
                }
                p {
                    margin: 3rem 0 0 0;
                }
            }
            .feature-image {
                height: auto;
                //padding: 0 2rem 2rem 0;
                background: none;
    
                img {
                    position: static;
                    min-width: 100%;
                    max-width: 200%;
                    opacity: 1;
                    display: block;
                }
            }
        }
        .the-text {
            background: #ebebeb;

            .entry-content {
                max-width: 100%;
                padding: 7% 7% 7% 6%;
                background: none;
                background: rgba(255,255,255,0.4);

                p:first-of-type:first-letter {
                    float: left;
                    font-size: 15.9rem;
                    font-weight: bold;
                    line-height: 1;
                    margin: -1.7rem 0.5rem -2rem -1rem;
                }

                blockquote.pullquote {
                    // margin-top: 3rem;
                    // padding-top: 3rem;
                    // position: relative;
                    border-left: solid 1rem;
                    padding-left: 1rem;
                    margin: 3rem 0;
                    font-weight: bold;
                }
            }
        }  
    }
}

@media (min-width: $tablet) {
    // .article {
    //     .feature-chart, #map {
    //         height: 70vh;
    //     }
    // }
    .article-image-right {

        article {
    
            .cover {
                .entry-header {
                    //padding: 5rem;
                }
            }
        }
    }
}

@media (min-width: $laptop) {
    // .article {
    //     .feature-chart, #map {
    //         height: 80vh;
    //     }
    // }

    .article-image-right {

        article {
            .cover {
                min-height: 100vh;

                .entry-header {
                    margin-top: auto;
                }
                .feature-image {
                    //padding: 0 3rem 3rem 0;

                    img {
                        height: 100vh;
                    }
                }
            }
            .the-text {

                .entry-content {

                    blockquote.pullquote {
                        float: right;
                        width: 30rem;
                        margin: 4rem -20rem 4rem 4rem;
                        font-size: 2.4rem;
                    }
                }
            }
        }
    }
}

@media (min-width: $desktop) {
    // .feature-chart {
    //     height: 80vh;
    // }
    .article-image-right {

        article {
    
            .cover {
                .entry-header {
                    //padding: 9rem;
                }
                .feature-image {
                    //padding: 0 5rem 5rem 0;
                    border-right: solid 5rem white;
                }
            }
            .the-text {

                .entry-content {

                    blockquote.pullquote {
                        width: 40rem;
                        margin: 5rem -20rem 5rem 5rem;
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}